<!-- TO VIEW ALL CUSTOMIZED ORDERS-ADMIN -->

<%- include('partials/header') %>

<!-- NAVBAR SECTION -->
<nav class="navbar navbar-default">
  <div class="navigation">
    <ul class="nav navbar-nav navbar-left">
      <div class="title-logo">
        <li>
          <img class="logo" src="/cake.jpg" alt="cake logo">
        </li>
        <li>
          <p class="bakery-name">Tasty Treats</p>
        </li>
      </div>
    </ul>
    <ul class="nav navbar-nav navbar-middle">
      <li id="home"><a href="/">HOME</a></li>
      <li id="allproducts"><a href="/admin_allproducts">ALL ITEMS</a></li>
      <li id="allproducts"><a href="/additems">ADD ITEM</a></li>
      <li id="categories"><a href="/categories">CATEGORIES</a></li>
      <li id="viewfeedback"><a href="/adminviewfeedback">VIEW FEEDBACK</a></li>
      <li id="viewfeedback"><a href="/adminviewcustomize">VIEW CUSTOMIZE</a></li>
      <li id="categories"><a href="/adminvieworders">ORDERS</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="#">Admin</a>
      </li>
      <li><a href="/" class="">LOG OUT</a></li>
    </ul>
  </div>
</nav>


<!-- BODY SECTION -->
<body>
  <center>
    <div>
      <%Customize.forEach(function(customize){%>
      <div class="customize">
        <h3>Order Taken By (<%=customize.userID%>)</h3>
        <h3>Date :<%=customize.time%> </h3>
        <hr />
        <h4>Occasion: <%=customize.occasion%></h4>
        <h4>Special: <%=customize.special%></h4>
        <h4>Flavor: <%=customize.flavor%></h4>
        <h4>Type: <%=customize.type%></h4>
        <h4>Weight: <%=customize.weight%></h4>
        <h4>Topping: <%=customize.topping%></h4>
        <h4>To be written on cake: <%=customize.about%></h4>
        <br />
      </div>
      <%})%>
    </div>
  </center>
  <br />
</body>

</html>
